/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* Color de fondo general */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3C5B6F;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Home Section */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 10px; /* Haciendo la imagen cuadrada */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
}

.intro-text {
    text-align: right;
    color: #070F2B;
}

.intro-text h1 {
    font-size: 2.5em;
    margin: 0;
}

.intro-text p {
    font-size: 1.5em;
    margin: 10px 0 0;
}

/* About Section */
#about {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

#about img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Publications Section */
#publications {
    background-color: #ffffff;
    padding: 40px 20px;
}

#publications h2 {
    text-align: center;
    margin-bottom: 20px;
}

#publications ul {
    list-style: none;
    padding: 0;
}

#publications li {
    margin: 10px 0;
}

#publications a {
    text-decoration: none;
    color: #007bff;
}

#publications a:hover {
    text-decoration: underline;
}

/* Experience Section */
#experience {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

#experience img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Extra Section */
#extra {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

#extra img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Footer */
footer {
    background-color: #3C5B6F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
