/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('assets/img/dna.gif') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3C5B6F;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Home Section */
#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.intro-text {
    text-align: right;
    color: #070F2B;
}

.intro-text h1 {
    font-size: 2.5em;
    margin: 0;
}

.intro-text p {
    font-size: 1.5em;
    margin: 10px 0 0;
}

/* About Section */
#about {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

#about img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Research Section */
#research {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.research-content {
    margin: 20px 0;
}

.research-item {
    margin-bottom: 40px;
}

.research-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Publications Section */
#publications {
    background-color: #ffffff;
    padding: 40px 20px;
}

#publications h2 {
    text-align: center;
    margin-bottom: 20px;
}

#publications ul {
    list-style: none;
    padding: 0;
}

#publications li {
    margin: 10px 0;
}

#publications a {
    text-decoration: none;
    color: #007bff;
}

#publications a:hover {
    text-decoration: underline;
}

/* Experience Section */
#experience {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

#experience img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Lectures Section */
#lectures {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.lectures-content {
    margin: 20px 0;
}

.lecture-item {
    margin-bottom: 40px;
}

.lecture-item img {
    max-width: 80%; /* Ajusta el ancho máximo de las imágenes en la sección de lectures */
    height: auto;
    display: block;
    margin: 20px auto; /* Espacio debajo de cada imagen */
}

/* CV Section */
#cv {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

#cv a {
    color: #007bff;
    text-decoration: none;
}

#cv a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #3C5B6F;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .navbar a {
        padding: 10px;
    }

    #home {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        width: 200px;
        height: 200px;
    }

    .intro-text {
        text-align: center;
    }
}
